

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
    padding: 40px 8%;
}



.projects {
    max-width: 1200px;
    margin: auto;
}



.title {
    text-align: center;
    margin-bottom: 50px;
}

.title h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.title h1 span {
    color: #38bdf8;
}

.title p {
    color: #94a3b8;
    font-size: 17px;
}


.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}



.project-card {
    background: #1e293b;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #334155;
    transition: 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}



.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}



.project-content {
    padding: 25px;
}

.project-content h2 {
    margin-bottom: 12px;
    color: #38bdf8;
}

.project-content p {
    color: #cbd5e1;
    line-height: 1.6;
    margin-bottom: 18px;
}


.technologies {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.technologies span {
    background: #0f172a;
    color: #38bdf8;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 13px;
}




.buttons {
    display: flex;
    gap: 10px;
}

.buttons a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 7px;
    font-size: 14px;
    transition: 0.3s ease;
}




.demo {
    background: #38bdf8;
    color: #0f172a;
}




.github {
    border: 1px solid #38bdf8;
    color: #38bdf8;
}




.buttons a:hover {
    opacity: 0.8;
    transform: scale(1.05);
}



@media (max-width: 900px) {

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }

}



@media (max-width: 600px) {

    body {
        padding: 30px 5%;
    }

    .title h1 {
        font-size: 35px;
    }

    .project-container {
        grid-template-columns: 1fr;
    }

}